/* RESET.CSS */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* colori */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: grid;
}

.grey {
  color: #9A9A9A;
}

.none {
  display: none;
}

.block {
  display: block;
}

#red {
  color: #F84D35;
}

.black {
  color: #0C0B0B;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 56px 16px 16px;
}

@font-face {
  font-family: Canela-Light;
  src: url(/inc/dist/font/Canela/Canela-Light.otf);
}
@font-face {
  font-family: Object-Sans;
  src: url(/inc/dist/font/Object-Sans/ObjectSans-Light.otf);
}
#home-page {
  max-height: 100vh;
}

main {
  margin: 56px 16px 16px;
}

.footer-dekstop {
  display: none;
}

.menu-dekstop {
  display: none;
}

p {
  font-family: "Object-sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #5A5352;
  letter-spacing: 0.4px;
  line-height: 28.8px;
}

h1 {
  font-family: "Canela-Light", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: 0.5px;
  padding: 0 0 50px 0;
}

h2 {
  font-family: "Canela-Light", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 20px 0;
}

.toggler span {
  font-family: ObjectSans-Regular, sans-serif;
  font-size: 14px;
  font-weight: medium;
}

.menu span {
  color: #F84D35;
}

.button {
  padding-bottom: 25px;
  margin-top: 60px;
  border-bottom: 1px solid #F84D35;
  text-align: center;
}
.button span {
  font-weight: medium;
}
.button span {
  font-size: 18px;
}
.button:hover {
  color: #F84D35;
  border-bottom: 3px solid #F84D35;
}

#language a {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
}

/* menu */
.menuMobile, .menu-dekstop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menuMobile li, .menu-dekstop li {
  list-style: none;
  padding-right: 20px;
}
.menuMobile li a, .menu-dekstop li a {
  text-decoration: none;
  color: #0c0b0b80;
  font-family: "Object-Sans", sans-serif;
}

.menu-dekstop {
  display: none;
}

.toggler {
  z-index: 200;
}
.toggler span {
  color: #F84D35;
}

.toggler .close {
  display: none;
}

.menuMobile {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* chi sono */
.chi-sono {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.chi-sono p {
  margin-top: 30px;
}
.chi-sono img {
  width: 100%;
}

.carousel img {
  width: 300px;
  height: 220px;
  background: green;
}

/* fine menu */
footer {
  margin: 56px 16px 16px;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .social img {
  padding-right: 24px;
  width: auto;
  height: 24px;
}
footer .footer-mobile {
  padding: 12px 0 0;
}
footer .footer-mobile span {
  color: #F84D35;
}

.good-design {
  display: none;
}

.dati-mobile {
  margin: 60px 0;
}

.dati-dekstop {
  display: none;
}

.dati {
  grid-template-columns: 1fr 3fr;
  padding: 30px 0;
}
.dati span {
  padding: 10px 0;
}
.dati .numeri, .dati .nomi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dati .numeri span, .dati .nomi span {
  font-size: 35px;
}

.loghi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0;
}

#img-1 {
  margin-bottom: 80px;
}

.cta {
  margin-bottom: 60px;
}

#img img, #img-1 img {
  width: 343px;
  height: 252px;
}

.chi-griglia {
  padding: 80px 0 0 0;
}

.titoli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}
.titoli p {
  font-weight: 600;
}
.titoli span {
  text-transform: uppercase;
  color: red;
  font-family: "Object-sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.sinistra .button, .destra .button {
  text-align: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.sinistra img, .destra img {
  width: 343px;
  height: 341px;
}

.premi .loghi .dandad {
  width: 120px;
  height: 120px;
}
.premi .loghi .young-lions {
  width: 180px;
  height: auto;
}
.premi .loghi .awwards {
  width: 180px;
  height: auto;
}
.premi .loghi img {
  margin-right: 20px;
  margin-top: 30px;
}

.collabo {
  background-color: #FAFAFA;
  padding: 20px 10px 50px 10px;
}
.collabo h2 {
  color: #575655;
  font-size: 3rem;
}

.footer-chiSiamo h1 {
  padding-bottom: 0;
}

/* CAROSELLO */
.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 56px 16px 16px;
}
.carousel #carousel .item-carousel img {
  width: 300px;
  height: 220px;
  background: green;
}
.carousel #wrapper {
  width: 100%;
  position: relative;
}
.carousel #carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel #carousel::-webkit-scrollbar {
  height: 0;
}
.carousel #prev,
.carousel #next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}
.carousel #prev {
  top: 50%;
  left: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: none;
}
.carousel #next {
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.carousel #content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* dekstop */
@media (min-width: 800px) {
  h1 {
    font-family: "Canela-Light", sans-serif;
    font-size: 8rem;
    font-weight: 300;
    line-height: 140px;
    letter-spacing: 0.5px;
  }

  p {
    font-family: "Object-sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #5A5352;
    letter-spacing: 0.4px;
    line-height: 32.4px;
  }

  header, main {
    margin: 0;
    margin: 24px 40px;
  }

  .menuMobile, .toggler {
    display: none;
  }

  main {
    padding: 80px 80px 0;
  }

  h2 {
    font-size: 30px;
  }

  .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cta .button {
    margin-right: 64px;
  }

  .menu-dekstop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-dekstop ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  footer {
    margin: 0;
    margin: 24px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-mobile {
    display: none;
  }
  footer .footer-dekstop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-dekstop p {
    font-size: 12px;
  }
  footer .footer-dekstop .developer p {
    color: #9A9A9A;
  }
  footer .footer-home {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 24px 40px;
  }

  /* chi sono */
  .m-chi-sono {
    margin: 24px 0px 130px 100px;
  }

  .chi-sono {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 10%;
  }
  .chi-sono img {
    width: 512px;
  }
  .chi-sono .paragrafo {
    margin-top: 70px;
  }
  .chi-sono .paragrafo p {
    margin-bottom: 30px;
  }

  .carousel {
    margin: 24px 40px;
    height: 100vh;
  }
  .carousel #carousel .item-carousel img {
    width: 512px;
    height: 450px;
  }

  .dati-mobile {
    display: none;
  }

  .corsi {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20%;
  }
  .corsi .dati-dexstop {
    padding-top: 340px;
  }
  .corsi .dati-dexstop .dati {
    gap: 30px;
  }
  .corsi .dati-dexstop .dati span {
    font-size: 64px;
  }

  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0 80px;
  }
  .team #img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .team #img img {
    width: 724px;
    height: 450px;
  }
  .team #img-1 img {
    width: 724px;
    height: 450px;
  }

  .docenze h1 {
    padding-top: 0;
  }

  .lato {
    width: 60%;
  }

  .chi-griglia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chi-griglia img {
    width: 512px;
    height: 341px;
  }
  .chi-griglia .sinistra, .chi-griglia .destra {
    width: 512px;
  }
  .chi-griglia .speech img {
    padding-bottom: 30px;
  }
  .chi-griglia .c {
    padding-top: 300px;
  }
  .chi-griglia .b {
    padding: 100px 0;
  }
  .chi-griglia .d {
    padding: 100px 0;
  }

  .premi p {
    width: 70%;
  }
  .premi h1 {
    padding-bottom: 50px;
  }
  .premi .loghi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .premi .loghi jcsb .dandad img {
    width: 163px;
    height: 163px;
  }
  .premi .loghi .young-lions {
    width: 450px;
    height: auto;
  }
  .premi .loghi .awwards {
    width: 414px;
    height: auto;
  }

  .collabo {
    -webkit-box-shadow: 10px 10px #9A9A9A;
            box-shadow: 10px 10px #9A9A9A;
    padding: 100px;
    margin: 200px 0;
  }
  .collabo .cta {
    margin-bottom: 0;
  }
  .collabo h2 {
    text-align: center;
  }
  .collabo h2 br {
    display: none;
  }
  .collabo p {
    text-align: center;
  }
  .collabo .cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-chiSiamo {
    display: none;
  }

  .img-footer {
    background: url(../img/bg.png) no-repeat center center;
    background-size: cover;
  }
  .img-footer .good-design {
    display: block;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0;
  }
  .img-footer .good-design h1 {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */